<configuration>
    <springProfile name="test,local,profile">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>

    <springProfile name="dev,stage,prod,default">
        <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
        <root level="${logging.level.application}">
            <appender-ref ref="jsonConsoleAppender"/>
        </root>
    </springProfile>
</configuration>